<div>
    <!-- conditionally display section content based on the route -->
    <!-- display products -->
    <% if (sentData.content === 'products') { %>
        <div class="products">
            <% sentData.products.forEach(function(product) { %>
                <%- include('product', {product: product}) %>
            <% }) %>
        </div>
    <% } %>

    <!-- display about content -->
    <% if (sentData.content === 'about') { %>
        <div class="about">
            <h1>About page</h1>
        </div>
    <% } %>

    <!-- display a single product -->
    <% if (sentData.content === 'product' && sentData.product) { %>
        <%- include('product', {product: sentData.product}) %>
    <% } %>


    
</div>