body {
    background-color: rgb(195, 195, 204);
    padding: 10px;
}

.header-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    background-color: rgb(164, 164, 173);
    padding: 10px;
}

.header-config {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.username-cart-container {
    display: grid;
    grid-template-rows: repeat(2);
}

.header-config-col {
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact {
    display: flex;
    margin-bottom: 10px;
}

.contact-icon {
    margin-top: 15px;
    margin-right: 5px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product {
    margin: 10px;
    background-color: grey;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.navbar {
    text-align: center;
}
